
<% if @comments.size > 0 %>
  <h3 style="font-family: 'Bookman Old Style'; color: crimson"><%= @comments.size %> people have commented on <%=  @user_firstname+""+@user_lastname%>'s Photo.</h3>
<div class="message-board">
  <table border="5" bordercolor="pink" align="center">
    <tr>
      <th>Commented_by</th>
      <th>Commented_Time</th>
      <th>Comments</th>
    </tr>

    <% @comments.each do |comment| %>
      <tr>
        <td align="center" valign="center" height=50 width=50><%= link_to comment.user.first_name+""+comment.user.last_name,user_photo_path(:user_id => comment.user_id,:user_firstname => comment.user.first_name,:user_lastname => comment.user.last_name)%></div></td>
        <td align="center" valign="center" height=50 width=50><%= comment.date_time%></div></td>
        <td align="center" valign="center" height=50 width=50><%= comment.comment_text %></div></td>
      </tr>
    <% end %>
  </table>
</div>
<% else %>
  <h1>NO COMMENTS</h1>
<% end %>