
<% if @photos.size > 0 %>
<h3 style="font-family: 'Bookman Old Style'; color: crimson"><%= @user_firstname+""+ @user_lastname %> Posted <%= @photos.size %> Photos.</h3>
<div class="message-board">
  <table border="5" bordercolor="pink" align="center" cell-spacing=0>
    <tr>
      <th>Photos</th>
      <th>Created_Time</th>
      <th>Comments</th>
    </tr>

    <% @photos.each do |photo| %>
      <tr>
        <td border=3 height=100 width=100> <%= image_tag "https://photosite-rojabalakrishnan.s3.amazonaws.com/#{photo.file_name}",:size => "400x300"%></td>
        <td border=3 height=100 width=100 align="center" valign="center"><%= photo.date_time%></div></td>
        <td border=3 height=100 width=100 align="center" valign="center"><%= link_to "comments",user_comment_path(:photo_id => photo.id,:user_firstname => @user_firstname,:user_lastname => @user_lastname)%></td>
      </tr>
    <% end %>
  </table>
</div>
<% else %>
  <h1>NO PHOTOS</h1>
<% end %>