<!DOCTYPE html>
<html>
  <head>
    <title>PhotoSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
        head{
            align-items: center;
        }
        h1{
            background-color: antiquewhite;
            flex-direction: column;
            justify-content: center;
            text-align: center;

        }
        h3{
            background-color: lemonchiffon;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        h2{
            background-color: azure;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }


    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
